NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:23423/keyvoid
APP_SESSION_SECRET=<YOUR_32_PLUS_CHARACTER_SESSION_SECRET>

WORKOS_API_KEY=<YOUR_WORKOS_API_KEY>
WORKOS_CLIENT_ID=<YOUR_WORKOS_CLIENT_ID>

VAULT_HASH_KEY=<YOUR_32_BYTE_ENCRYPTION_KEY>
VAULT_ENCRYPTION_KEY=<YOUR_32_BYTE_ENCRYPTION_KEY>