NEXT_PUBLIC_APP_URL=http://localhost:3000

APP_SESSION_SECRET=<YOUR_32_PLUS_CHARACTER_SESSION_SECRET>
APP_SESSION_TTL=30d
DATABASE_URL=postgresql://postgres:postgres@localhost:23423/vault
WORKOS_API_KEY=<YOUR_WORKOS_API_KEY>
WORKOS_CLIENT_ID=<YOUR_WORKOS_CLIENT_ID>
