NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:23423/keyvoid

JWT_SESSION_SECRET=<YOUR_32_PLUS_CHARACTER_SESSION_SECRET>
JWT_REGISTER_SECRET=<YOUR_REGISTER_JWT_SECRET>
JWT_RESET_PASSWORD_SECRET=<YOUR_RESET_PASSWORD_JWT_SECRET>

VAULT_HASH_KEY=<YOUR_32_BYTE_ENCRYPTION_KEY>
VAULT_ENCRYPTION_KEY=<YOUR_32_BYTE_ENCRYPTION_KEY>

OAUTH_GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
OAUTH_GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>

OAUTH_GITHUB_CLIENT_ID=<YOUR_GITHUB_CLIENT_ID>
OAUTH_GITHUB_CLIENT_SECRET=<YOUR_GITHUB_CLIENT_SECRET>

GMAIL_ADDRESS=<YOUR_GMAIL_ADDRESS>
GMAIL_PASSWORD=<YOUR_GMAIL_PASSWORD>
